.IngredientsDisplay {
  justify-items: start;
  display: flex;
  flex-direction: column;
}
.stepsDisplay {
  justify-items: start;
  display: flex;
  flex-direction: column;
}

.recipeRowDisplay {
  justify-items: start;
  display: flex;
  flex-direction: row;
  margin-left: 1%;
}
