.Food-Container {
    max-height: calc(100vh - 80px);
    padding-top: 30px;
}

.Food-row {
    margin-left: 3vw;
}

.Food-Title {
    text-align: start;
}

.Food-header {
    font-size: 3em;
}

.Food-prods {
    height: 30vh;
    width: 100%;
}

.Food-container{
    overflow-x: hidden;
}

.Food-test {
    background-color: blue;
    width: 18vw;
    height: 18vh;
    border: 2px solid black;
    margin-right: 3em;
    margin-left: 3em;
}

.Food-test2 {
    background-color: red;
    width: 18vw;
    height: 18vh;
    border: 2px solid black;
    margin-right: 3em;
    margin-left: 3em;
}

.Food-customA {
    color:black;
}

.Food-carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

.Food-Scrolleable {
    background-color: #e5e5e5;
    padding-top: 15px;
}

.Food-customCarousel {
    height: 2000px;
}